__pycache__/
*.pyc
.venv/
venv/
output/
output_nuri/
*.mp3
*.mp4
*.png
*.m4a
*.wav
*.ogg
!assets/**/*.png
!assets/**/*.mp3
!assets/**/*.mp4
!assets/**/*.m4a
!assets/**/*.wav
!assets/**/*.ogg
.env
client_secret*.json
token.json
